.card-item{
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    margin: 70px;
}

* {
    color: white;
}

.container-cards {
display: flex;
justify-content: center;
flex-direction: row;
}