nav {
    border-bottom: 1px solid lightgray;
}

.nav-top-container {
height: 35px;
background-color: black;
display: flex;
justify-content: space-evenly;
}

.social-container {
    display: flex;
    align-items: center;
}

.social {
    margin-left: 15px;
}

.nav-top-title {
    font-size: 12px;
    margin-top: 10px;
}

.orange {
    color: orange;
}

.button-container {
    display: flex;
    align-items: center;
}

.button {
    color: white;
    margin-left: 15px;
}

.nav-bottom-container{
    height: 125px;
}

.logo-container{
    position: absolute;
    top: -25px;
    left: 50px;
}

.logo {
    width: 250px;
    height: auto;
}

.navegation-container {
    background-color: white;
    width: 400px;
    float: right;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
}

.navegation-grup-top {
    font-size: 25px;
    border-bottom: 2px solid orange;
}

.navegation-grup-top > a {
    margin-right: 20px;
    color: gray;
    text-decoration: none;
}

.navegation-grup-bottom {
    font-size: 15px;
    float: right;
}

.navegation-grup-bottom > a {
    margin-right: 20px;
    color: black;
    text-decoration: none;
}
