.contador{
    height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    }

.contador > h2 {
    color: black;
}

button {
    color: black;
}

span {
    color: black;
}